@media (max-width:1200px) {

	#header .content-wrapper {
		max-width: 90%;
	}
	.info1 {
		width: 150px;
		margin-left: 20%;
	}
	div.rowWraper {
			width: 65%;
	}
/*	 div.row1, div.row{
	 	 width: 149px;
	}*/

	#mainmenu .content-wrapper > ul li {
		margin: 0 10px;
	}
	#footer .content-wrapper {
		max-width: 960px;
	}
}
@media (max-width: 960px ) {
	#mainmenu .content-wrapper > ul {
	    max-width: 730px;
	}
	#mainmenu .content-wrapper > ul > li a, 
	#mainmenu .content-wrapper > ul > li span {
	    font-size: 14px;
	}
	#mainmenu .content-wrapper > ul li {
	    margin: 0 8px;
	    width: 88px;
	}
	#mainmenu .content-wrapper > ul > li:hover > ul {
	    width: 100%;
	}
    .info1 {
	    margin-left: 8%;
	}
	div.row input, div.row1 input {
	    width: 100%;
    	max-width: inherit;	}
	div.row {
	    width: 150px;
	}
	div.row2 {
		margin-top: 0;
	}
	div.rowWraper {
    margin-right: 3%;
    width: 90%;
}
	div.row1, div.row{
		float: none;
		width: 100%;
	}
	#footer .content-wrapper {
		max-width: 768px;
	}
}
@media (max-width:768px) {
	#mainmenu .content-wrapper > ul {
	    display: none;
	}
	.botonmenu {
		display: block;
	}
	div.rowWraper {
	    margin-right: 30px;
	}
	div.row, div.row1 {
		float: left;
	    width: 49%;
	}
	div.row input, div.row1 input {
	    width: 100%;
	}
	div.row {
		margin-right: 2%;
	}
	.boton {
	 	right: -36px;
	 }
	 .info1 {
		margin-left: 0;
	}
	.info2 {
	}
	div.rowWraper {
	    width: 80%;
	    float: none;
	    margin: 0 auto;
	    max-width: 500px;
	}
	#header {
	  height: 70px;
	}
	.logoMarenasa {
	    padding-top: 5px;
	}
	.informacion {
	    width: 100%;
	    max-width: 300px;
	    margin: 0 auto;
	    float: none;
        margin-top: 55px;
	}
	.correo {
	   width: 100%;
       margin-right: auto;
       float: none;
	}
}
@media (max-width:480px) {
	#header {
	    height: 110px;
	}
	.logoMarenasa, .social-wrapper {
	    float: none;
	    margin: 0 auto;
	}
	.social-wrapper {
	    margin-top: 6px;
	}
	.informacion {
		width: 260px;
	}
	.info1, .info2 {
	    width: 120px;
	    float: left;
	}
	.info2 {
		margin-left: 15px;
	}
}