@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'roboto-thin';
    src: url('../fonts/Roboto-Thin.ttf');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'roboto-thinitalic';
    src: url('../fonts/Roboto-ThinItalic.ttf');
}body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 0px;
	margin-bottom: 0px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
    margin: 0;
    padding: 0;
    background-color: #E9E9E9;
    height: 64px;
}

#content
{
    padding: 0px;
    background-color: #E9E9E9;
    margin-top: 35px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
    padding: 10px;
    font-size: 0.8em;
    text-align: center;
    border-top: 7px solid #E80033;
    background-color: #2E73B2;
    padding-bottom: 350px;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background-color: #2D72B1;
    margin: 0 auto;
    height: 35px;
    display: block;
    position: absolute;
    width: 100%;
    z-index: 9;
}

#mainmenu .content-wrapper > ul
{
    margin: 0px auto;
    margin-right: 110px;
    max-width: 952px;
    padding: 0;

}

#mainmenu .content-wrapper > ul > li
{
    display: block;
    float: left;
    background-color: #2D72B1;
    width: 106px;
    margin: 0 15px;
}

#mainmenu .content-wrapper > ul > li a,
#mainmenu .content-wrapper > ul > li span
{
    color: #DCE4EA;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    font-family: 'roboto-thin';
    font-size: 16px;
    display: block;
    margin: 0 auto;
    text-align: center;
    height: 22px;
    margin-top: 8px;
    cursor: pointer;
}

#mainmenu .content-wrapper > ul > li a:hover, 
#mainmenu .content-wrapper > ul > li.active a, 
#mainmenu .content-wrapper > ul > li.active span
{
	border-bottom: 5px solid #BBE573;
}
#mainmenu .content-wrapper > ul > li > ul {
    display: none;
    width: 90%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    padding: 10px 0;
}
#mainmenu .content-wrapper > ul > li:hover > ul {
    display: block;
}

#mainmenu .content-wrapper > ul > li > ul > li {
    height: auto;
    min-height: 35px;
}
#mainmenu .content-wrapper > ul > li > ul > li > a,
#mainmenu .content-wrapper > ul > li > ul > li > span {
    height: auto;
    border-bottom: 5px solid #2D72B0;
    margin-top: 0;
}

div.flash-error, div.flash-notice, 
div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
        height: 35px;
        box-sizing: border-box;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}
.facebook
{
    width: 25px;
    height: 25px;
    background-image: url(../images/facebook.png);
    display: block;
    position: absolute;
    margin-left: 25px;
    float: right;
    top: 30px;
    right: 0px;
    margin-right: 319px; 
}
.twitter
{
    width: 25px;
    height: 25px;
    background-image: url(../images/twitter.png);
    display: block;
    position: absolute;
    float: right;
    top: 30px;
    right: 0px;
    margin-right:286px;
}
.blogspot
{	
    width: 25px;
    height: 25px;
    background-image: url(../images/rss.png);
    display: block;
    position: absolute;
    float: right;
    top: 30px;
    right: 0px;
    margin-right:  253px;
}
  div.rowWraper {
	    float: right;
	    width: 55%;
	    margin-right: 140px;
    }    
    div.rowWraper2 {
        float: right;
        width: 34%;
        margin-right: 6%;
    }
div.row
    {
    margin: 0 auto;
    width: 160px;
    margin-bottom: 8px;
    height: 24px;
    float: left;
    }
    div.row1
    {
	    margin: 0 auto;
	    width: 160px;
	    margin-bottom: 8px;
	    height: 34px;
	    float: right;
    }
    div.row2
    {
        margin: 0 auto;
        width: 100%;
        margin-top: 10px;
    }
    div.row input, div.row1 input
    {
    width: 100%;  
    max-width: 160px;
    box-sizing: border-box;
    height: 25px;
    line-height: 23px;
    text-indent: 5px;
    border: 0;
    font-weight: bold;
    color:    #0580A9;
    font-family: Roboto-Regular;
    }
    div.row2 textarea
    {
    width: 100%;  
    max-width: 500px;
    box-sizing: border-box;
    height: 130px;
    line-height: 23px;
    text-indent: 5px;
    border: 0;
    font-weight: bold;
    color:    #0580A9;
    resize: none;
    }
.boton {
    width: 90px;
    height: 30px;
    background-color: #A1D25C;
    border: none;
    margin-top: 15px;
    position: relative;
    right: -119px;
    font-size:14px; 
}
.informacion {
    width:45%;
    height: 320px;
    display: block;
    float: left;
    margin: 0 auto;  
}
.correo {
    display: block;
    float: right;
    width: 52%;
    margin: 0 auto;
}
div.ltitulo1 {
    color: #ffffff;
    font-size: 16px;    
    margin-top: 19px;
    margin-bottom: 19px;
    text-align: left;
}
div.subtitulo1 {
    color: #ffffff;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
}
.info1 {
    width: 150px;
        margin-left: 40%;
    display: block;
    float: left;
}
.info2 {
width: 150px;
    margin-right: 0%;
    display: block;
    float: right;
}


/*header*/
.buscador {
    width: 190px;
    height: 25px;
    position: absolute;
    background-color: #ffffff;
    right: 0px;
    border: 1px inset #B6B6B6;
    top: 30px;
    margin-right: 47px;
}
.buscador input {
    width: 100%;  
    max-width: 160px;
    box-sizing: border-box;
    height: 25px;
    line-height: 23px;
    text-indent: 5px;
    border: 0;
    font-weight: bold;
    color:    #0580A9;
}
.lupa {
    background-color: #E50C39;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 30px;
    right: 0px;
    border: 1px solid #E50C39;
    background-image: url(../images/lupa.png);
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    margin-right: 21px;
}
label.lheader {
    color: #000000;
    display: block;
    position: absolute;
    top: 36px;
    right: 0px;
    margin-right: 371px;
    font-size: 16px;
}
.content-wrapper {
    width: 100%;
  max-width: 1200px;
    margin: 0 auto;
}
.logoMarenasa {
    background-image: url(../images/Marenasa.png);
    background-size: 100%;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    position: absolute;
    top: 4px;
    left: 60px;
}
#mainmenu .content-wrapper > ul:after {
    display: block;
    content: "";
    clear: both;
}
