/* 
    Document   : main
    Created on : 8/04/2015, 02:36:04 PM
    Author     : Colores
    Description:
        Purpose of the stylesheet follows.
*/
@font-face
{
    font-family: "Lato-Regular";
    src: url(../../font/Lato-Regular.ttf); 
}
@font-face
{
    font-family: "Lato-Black";
    src: url(../../font/Lato-Black.ttf); 
}
@font-face
{
    font-family: "Lato-Italic";
    src: url(../../font/Lato-Italic.ttf); 
}
body {
  padding-top: 0;
}
.navbar.navbar-fixed-top {
  position: inherit;
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    background: #E9E9E9;
    border-bottom: 20px solid #2D72B1;
}
div.container
{
    position: relative;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
	background: #AE151E;
	color: white;
	text-shadow: none;
	font-weight: bold;
}
.user {
	padding-left: 20px;
	margin-top: 12px;
	font-family: "Lato-Black";
	font-size: 15px;
	font-weight: bold;
  
}
.user >.logged-in {
  font-family: "Lato-Italic";
}

.navbar .brand .logo_cemiegeo {
    height: 65px;
    width: 140px;
    background-image: url(../../images/Marenasa.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}
.pull-right.nav li > a {
	padding: 20px 15px;
	color: #000000;
	text-shadow: none;
	font-weight: bold;
}
.navbar .nav > li > a:focus, .navbar .nav > li > a:hover
{
    color: WHITE;
}
.container-fluid {
    padding: 30px 20px 10px;
}
.container-fluid.table-admin {
    padding: 0px 20px 10px;
}

.hero-unit {
	padding: 20px 60px 40px;
}
.subtitulo {
	margin-top: 0;
	margin-bottom: 30px;
}
.imagen404
{
	margin: 0 auto;
	height: 808px;
	max-width: 100%;
	background-size: cover;
}
div#ui-datepicker-div {
    z-index: 9999 !important;
}
table.items.table.table-striped.table-bordered.table-condensed > thead > tr > th
{
    text-align: center;
    vertical-align: middle;
}
table.items.table.table-striped.table-bordered.table-condensed > tbody > tr > td
{
    text-align: center;
    vertical-align: middle;
}
.navbar .brand {
    display: block;
    float: left;
    padding: 5px;
    margin-left: 0;
}
.navbar .nav > li {
    float: left;
    margin-top: 10px;
} 
.required-message {
    padding-bottom: 22px;
}