div.arriba
{
    border-bottom: 7px solid #E80033;
}
div.abajo
{
    position: relative;
    padding-top: 50px;
}
div.pedidosLista
{
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    box-sizing: border-box;
    border-left: 7px solid #2E73B2;
    transition: 0.3s all;
    z-index: 1000;
    box-shadow: -2px 2px 2px rgba(0,0,0,0.7);
}
.ocultarLista
{
    width: 0 !important;
    border: 0 !important;
}
.ocultarLista .pedidosHeader,
.ocultarLista .pedidosWraper
{
    display: none;
}
div.pedidosHeader div
{
    background-image: url(../../images/carrito.svg);
    background-position: center left 9px;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    text-indent: 39px;
    height: 50px;
    line-height: 57px;
    font-size: 24px;
    font-family: Roboto-Bold;
}
div.pedidosWraper
{
    padding: 10px;
    position: relative;
}
div.pedido
{
    margin-bottom: 10px;
}
div.pedidosWraper input[type=text]
{
    border: 0;
    font-family: Roboto-Bold;
    font-size: 12px;
    float: left;
    width: 175px;
    line-height: 21px;
    padding: 0;
    color: #575756;
}
div.pedidosWraper input[type=number]
{
    float: left;
    width: 35px;
    width: 42px;
}
div.pedidosWraper input[type=submit]
{
    border: 0;
    background-color: #2E73B2;
    color: #FFFFFF;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    font-family: Roboto-Bold;
    font-size: 16px;
    position: absolute;
    bottom: -45px;
    right: 10px;
}
div.pedidosWraper div.borrar
{
    float: left;
    width: 20px;
    font-size: 16px;
    line-height: 16px;
    font-family: Roboto-Bold;
    margin-left: 10px;
    line-height: 21px;
    cursor: pointer;
    text-align: center;
}
div.canasta
{
    width: 60px;
    height: 60px;
    background-image: url(../../images/carrito.svg);
    background-size: 100%;
    margin-right: 60px;
    float: right;
    margin-top: 5px;
    cursor: pointer;
}
div.imagenArriba
{
    width: 100%;
    height: 100px;
    margin-bottom: 35px;
    background-image: url(../../images/Imagen-Buscador.png);
    background-size: 100% 100%;
}
div.imagenArriba > div
{
    width: 92%;
    margin: 0 auto;
    height: 20px;
    font-size: 24px;
    font-family: Roboto-Bold;
    color: #FFFFFF;
    line-height: 20px;
    padding-top: 75px;
    background-color: transparent;
        margin-left: 28px;
}
.nice-select:active, .nice-select.open, .nice-select:focus 
{
    border-color: #E8E8E8;
}
.nice-select:after 
{
    border-bottom: 3px solid #4C85B6 !important;
    border-right: 3px solid #4C85B6 !important;
    height: 10px !important;
    width: 10px !important;
    top: 15px !important;
}
div.menuOpciones
{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
}
div.menuOpciones > div
{
    float: left;
    margin-right: 25px;
}
div.menuOpciones > div:last-child
{
    margin-right: 0;
}
div.menuOpciones .titulo
{
    color: #2E73B2;
    font-size: 19px;
    font-family: 'Roboto-Regular';
}
div.menuOpciones .buscar
{
    width: 250px;
}
div.principal
{
    width: 100%;
    max-width: 954px;
    margin: 0 auto;
}
div.producto
{
    float: left;
    position: relative;
    width: 219px;
    height: 219px;
    margin-right: 25px;
    margin-bottom: 25px;
    border-radius: 6px;
    background-color: #FFFFFF;
    cursor: pointer;
    z-index: 1;
}
.producto:hover {
    z-index: 2;
}
div.producto:nth-child(4n)
{
    margin-right: 0;
}
div.productoWraper
{
    border-radius: 6px;
    width: 100%;
    height: 219px;
    overflow: hidden;
    transition: 0.3s all;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
}
div.productoWraper:hover
{
    width: 235px;
    height: 342px;
    box-shadow: 2px 2px 2px 2px rgba(136, 134, 139, 0.7);
}
.topProducto
{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 17px;
    border-bottom: 2px solid #E3E3E3;
    margin-bottom: 10px;
}
div.producto .titulo
{
    width: 100%;
    height: 45px;
    text-align: center;
    line-height: 45px;
    color: #2E73B2;
    font-size: 17px;
    font-family: 'Roboto-Regular';
}
div.producto .imagen
{
    width: 100%;
    padding-bottom: 79.45205479452055%;
    background-size: 100% 100%;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
div.bottomProducto
{
    width: 90%;
    height: 100px;
    margin: 0 auto;
    font-family: Roboto-Bold;
    font-size: 14px;
    position: relative;
}
div.bottomProducto > div:last-child
{
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    border-radius: 50%;
    background-color: #2E73B2;
    color: #FFFFFF;
    font-size: 19px;
    font-family: Roboto-Regular;
    text-align: center;
    line-height: 60px;
}
div.productosWraper
{
    padding-bottom: 150px;
}
div[data-infoI] .titulo
{
    width: 100%;
    height: 45px;
    text-align: center;
    line-height: 45px;
    color: #2E73B2;
    font-size: 17px;
    font-family: 'Roboto-Regular';
    background-color: #FFFFFF;
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
}
div[data-infoI] .imagen
{
    width: 100%;
    padding-bottom: 79.45205479452055%;
    background-size: 100% 100%;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.descripcionWraper .topProducto
{
    width: 219px;
    float: left;
    border-bottom: 0;
}
.imagenWraper
{
    padding: 10px;
    background-color: #FFFFFF;
}
.descripcionWraper .bottomProducto
{
    float: left;
    width: 250px;
    margin-left: 50px;
}
.descripcionWraper .bottomProducto div
{
    text-align: right;
}
.descripcionWraper .bottomProducto > div:last-child
{
    position: initial;
    background-color: #85E67D;
    border-radius: 8px;
    float: right;
    width: 175px;
    height: 40px;
    line-height: 40px;
    margin-top: 25px;
    text-shadow: 2px 2px #000000;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.7);
    cursor: pointer;
}
div.botonCerrar
{
    float: left;
    margin-left: 75px;
    margin-top: -15px;
    border-radius: 50%;
    background-color: #2E73B2;
    width: 60px;
    height: 60px;
    font-size: 34px;
    font-family: Roboto-Regular;
    text-align: center;
    line-height: 60px;
    color: #FFFFFF;
    box-shadow: -2px 2px 2px rgba(0,0,0,0.7);
    cursor: pointer;
}
div.menuOpciones:after,
div.principal:after,
div.productosWraper:after,
div.descripcionWraper:after,
div[data-infoI]:after,
div.producto:after,
div.pedido:after
{
    display: block;
    clear: both;
    content: '';
}