div#page {
    background-color: #E9E9E9;
}
.white-bg {
    background-color: #FFFFFF;
    min-height: 600px;
    max-width: 1000px;
    margin: 75px auto 45px;
}
.blue-ribbon {
    width: 10px;
    min-height: 600px;
    float: left;
    background-color: #3475B1;
    box-shadow: 2px 2px 1px #888888;
}
.white-container {
    width: 85%;
    margin: 0 auto;
    padding: 45px 0;
}
.title-container {
    height: 60px;
}
.info10
{
    width:31%;
    float:left;
    text-align: center;
    color:#2D72B1;
    font-size: 15px;
}
.info11
{
    width:60%;
    float:left;
    text-align: center;
    color:#2D72B1;
    font-size: 15px;
}
 .info12
{
    width:9%;
    float:left;
    text-align: center;
    color:#2D72B1;
    font-size: 15px;
}
.titulo1 {
    width: 100%;
    font-size: 25px;
    color: #E80033;
    text-align: center;
    padding-bottom: 20px;
}
a.paquete3 {
    float: left;
    width: 9%;
    color: blue;
    font-style: normal;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 10px;
    padding-top: 10px;
    cursor: pointer;
        font-size: 15px;
}
.paquete2 {
    float: left;
    width: 60%;
    text-align: center;
        padding-bottom: 10px;
    padding-top: 10px;
        font-size: 15px;
}
.paquete1 {
    width: 31%;
    float: left;
    text-align: center;
        padding-bottom: 10px;
    padding-top: 10px;
        font-size: 15px;
}
.search-container:after
/*.product-row:after*/
{
	content:"";
	clear: both;
	display: block;
}
.tira {
    width: 100%;
}