div#page {
    background-color: #E9E9E9;
}
.white-bg {
    background-color: #FFFFFF;
    min-height: 600px;
    max-width: 1000px;
    margin: 75px auto 45px;
}
.blue-ribbon {
    width: 10px;
    min-height: 656px;
    float: left;
    background-color: #3475B1;
    box-shadow: 2px 2px 1px #888888;
}
.white-container {
    width: 85%;
    margin: 0 auto;
    padding: 45px 0;
}
.title-container {
    height: 60px;
}
.icon-chest {
    width: 40px;
    height: 40px;
    float: left;
    background-image: url('../../images/canastaBuscador.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
}
.title {
    float: left;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Roboto-Bold';
    margin-top: 8px;
}
.search-container {
    margin-left: 60px;
    height: 45px;
}
input#searchtext {
    width: 295px;
    height: 22.5px;
    float: left;
    border: 1px solid #d8d8d8;
    padding-left: 6px;

}
.search-button {
    width: 25.5px;
    height: 25.5px;
    float: left;
    background-color: #E50E37;
    background-image: url('../../images/lupa.png');
    background-size: 15px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.search-container > .srch-wrapper {
	position: relative;
}
.search-results {
    width: 328px;
    position: absolute;
    top: 26px;
    border: 1px solid #d8d8d8;
    box-shadow: 1px 1px 2px #DDD;
    background-color: #FFFFFF;}
.result-row {
    height: 25px;
    line-height: 25px;
    padding-left: 6px;
}

.order-wrapper 
{
    max-width: 600px;
    box-sizing: border-box;
    margin-left: 60px;
    border: 1px solid #D8D8D8;
}
.titles-content {
    border-bottom: 1px solid #D8D8D8;
    height: 35px;
}
.titles-content div:last-child
{
    padding-left: 0;
}
.order-title {
    float: left;
    height: 35px;
    line-height: 35px;
    width: 20.06688963210702%;
    padding-left: 20px;
    text-align: center;
    box-sizing: border-box;
}
.order-title.first 
{
    width: 39.29765886287625%;
    text-align: left;
}
.order
{
    width: calc(100% - 10px);
    padding-top: 20px;
    height: 200px;
    border-right: 1px solid #D8D8D8; 	
}
.product-row 
{
    min-height: 35px;
    /*line-height: 35px;*/
}
.product-row > div 
{
    float: left;
    font-family: 'Roboto-Bold';
    box-sizing: border-box;
    line-height: 35px;
}
.product-row > div:first-child 
{
    padding-left: 20px;
    width: 45.06802721088435%;
}
.search-results .product-row > div:first-child 
{
    width: 100%;
}
.product-row .cantidad
{
    padding-left: 13px;
    width: 19.6%;
}
input.cantidad {
    width: 45px;
    margin-right: 30px;
}
.total-container 
{
    width: 100%;
    border-top: 1px solid #D8D8D8;
    height: 30px;
}
.product-row > div.precio 
{
    padding-left: 20px;
    width: 14%;
    /*text-align: center;*/
}
.product-row > div.subtotal 
{
    padding-left: 25px;
    width: 21%;
    text-align: center;
}
.total-title {
    height: 30px;
    float: left;
    padding-left: 20px;
    line-height: 30px;
    font-family: 'Roboto-Bold';
    font-size: 17px;
}
.total-price {
    float: right;
    height: 30px;
    line-height: 30px;
    padding-right: 20px;
    /*width: 75px;*/
    text-align: center;
    font-family: 'Roboto-Bold';
    font-size: 16px;
}
.user-container 
{
    max-width: 600px;
    margin-left: 60px;
    position: relative;  
    margin-top: 30px;  
    padding-bottom: 23px;
}
.user-title {
    font-family: 'Roboto-Bold';
    margin-bottom: 10px;
}
.user-row {
    margin-bottom: 9px;
}
.user-row label {
    width: 70px;
    display: block;
    float: left;
}
.user-row input {
    width: 200px;
    padding: 3px 5px;
}
.search {
    display: none;
}
.none {
    display: none !important;
}
.search-results .product-row {
    cursor: pointer;
}
.search-results .product-row:hover {
    background-color: #B0C9E3;
}

.send-button {
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #3073AE;
    color: #FFFFFF;
    border-radius: 9px;
    position: absolute;
    right: 0;
    bottom: 33px;
    cursor: pointer;
}
.send-button:hover {
    background-color: #214d73;
}


.search-container:after,
.product-row:after
{
	content:"";
	clear: both;
	display: block;
}
