#preview 
{
    width: 1200px;
    height: 360px;
    overflow: hidden;
    margin-bottom: 10px;
    float: left;
    margin-left: 15px;
}
#image_ToCrop,
#preview img
{
    max-width: none;
}
#getimage
{
    float: left;
}
#fancybox-content
{
    background-color: #FFF;
}
.fancy-content:after
{
    content: "";
    display: block;
    clear: both;
}
#getCrop {
margin-left: 30px;
margin-top: 30px;
}
#miniButton{
	margin: 0 auto;
}
#miniPreview 
{
    width:1200px;height:360px;overflow:hidden; margin-left: 30px;
    margin: 0 auto;
}
.jcrop-holder {
	background-color: transparent !important;
        margin: 0 auto;
}
#image_container {
    margin-bottom: 10px;
    margin-right: 20px;
}
.imagenWidget
{
    width: 1200px;
    height: 360px;
}
#objects-grid td:first-child
{
    width: 308px;
    height: 235px;
}
#objects-grid tr.filters
{
    display: none;
}