.superior-cnt {
    width: 100%;
    padding-bottom: 30%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.inferior-cnt {
    /*padding-bottom: 40px;*/
    width: 100%;
    background-color: #ececec;
}
.titulo-cnt {
    color: white;
    position: absolute;
    font-size: 50px;
    bottom: 20px;
    right: 62px;
    text-shadow: 3px 3px rgb(85, 85, 85);
}
.izquierda-cnt {
    width: 50%;
    float: left;
    font-family: Roboto-Regular;
}
.contenido-wrapper
{
    padding: 75px 0;
}
.derecha-cnt {
    width: 50%;
    font-family: Roboto-Regular;
    float: right;
}
.descripcion-cnt
{
    font-size: 19px;
    width: 90%;
    margin: 0 auto;
    /*margin-left: 10%;*/
    margin-bottom: 30px;
}
.informacion-cnt {
    width: 90%;
    margin: 0 auto;
    /*margin-left: 10%;*/
    margin-top: 50px;
    font-size: 20px;
}
.ltitulo11 {
    color: #000000 !important;
    font-family: 'Roboto-Bold';
        font-size: 18px;
}

.lmensaje {
    margin-bottom: 20px;
    font-family: Roboto-Regular;
}
.boton 
{
    float: right;
    position: initial;
}
input[type="text"], textarea {
    border: 1px inset rgba(236, 236, 236, 0.7) !important;
    font-family: Roboto-Regular;
}
.derecha-cnt .correo {
    display: block;
    float: none;
    width: 100%;
    margin: 0 auto;
}
.derecha-cnt div.rowWraper 
{
    width: 350px;
    margin: 0 auto;
    float: none;
}
.superior-cnt:after,
.inferior-cnt:after,
.contenido-wrapper:after,
.correo:after,
.row3:after
{
	clear: both;
    content: '';
    display: block;
}
div.ltitulo1 {
    color: #2E73B2 !important;
}
