h1 
{
    border-bottom: 7px solid #E80033;
    color: #2375AE;
    font-family: Roboto-Bold;
    line-height: 75px;
    font-size: 32px;
    margin-bottom: 20px;
}
h1 span 
{
    width: 978px;
    margin: 0 auto;
    display: block;
}
div.contenido 
{
    width: 978px;
    margin: 0 auto;
}
.nice-select
{
    float: none;
    width: 200px;
}
.buscador-historial > div:first-child
{
    margin-bottom: 15px;
    font-family: Roboto-Regular;
    font-size: 16px;
}
div.promocion 
{
    width: 300px;
    height: 227px;
    float: left;
    margin-bottom: 26px;
    margin-right: 26px;
}
div.promoHeader 
{
    width: 100%;
    height: 76px;
}
div.promoHeader > div 
{
    float: left;
}
div.rightHeader 
{
    width: 74.66666666666667%;
    height: 76px;
    background-color: #FFFFFF;
}
div.leftHeader 
{
    width: 25.33333333333333%;
    height: 76px;
    line-height: 76px;
    text-align: center;
    font-family: Roboto-Regular;
    font-size: 26px;
    color: #FFFFFF;
    background-color: #CE243E;
}
div.promoImagen
{
    width: 100%;
    height: 151px;
    background-size: 100% 100%;
    position: relative;
    box-shadow: 2px 6px 7px #939191;
}
div.promoImagen a 
{
    display: block;
    text-decoration: none;
    color: initial;
    position: absolute;
    background-color: #A1D069;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    color: #575756;
    text-align: center;
}
div.rightHeader div:first-child 
{
    height: 39px;
    font-family: Roboto-Regular;
    color: #2375AE;
    font-size: 24px;
    text-indent: 15px;
    padding-top: 16px;
    box-sizing: border-box;
}
div.rightHeader div:first-child 
{
    height: 39px;
    font-family: Roboto-Regular;
    color: #2375AE;
    font-size: 24px;
    text-indent: 15px;
    padding-top: 16px;
    box-sizing: border-box;
}
div.rightHeader div:last-child 
{
    height: 36px;
    line-height: 36px;
    font-family: Roboto-Regular;
    text-indent: 15px;
    color: #D6D6D6;
    font-size: 16px;
}
div.buscador-historial
{
    width: 978px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.nice-select:active, .nice-select.open, .nice-select:focus 
{
    border-color: #E8E8E8;
}
.nice-select:after 
{
    border-bottom: 3px solid #4C85B6 !important;
    border-right: 3px solid #4C85B6 !important;
    height: 10px !important;
    width: 10px !important;
    top: 15px !important;
}
div.contenido:after
{
    display: block;
    content: '';
    clear: both;
}