div.imagenCarrusel
{
    width: 500px;
    height: 180px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
table.items.table.table-striped.table-bordered.table-condensed, div.summary, div.btn-toolbar
{
    width: 1200px;
    margin: auto;
}