.derecha{
    width: 65%;
    background-image: url(../../images/textura.png);
    padding-bottom: 17%;
    float: right;
}
.izquierdo,.sidr-class-izquierdo1{
    width: 27%;
    background-color: #D1D2CD;
    padding-bottom: 35%;
    float: left;
    position: relative;
}
.sidr-class-izquierdo1{
 display: none;
 width: 100%;
}
.categorias-wraper, .sidr-class-categorias-wraper{
    width: 100%;
    position: relative;
    top: 0px;
    margin-top: 72px;
}
.container-imagen {
    width: 100%;
    background-image: url(../../images/textura.png);
}
.cont-categoria {
    color: #3075b4;
    margin-top: 31px;
    margin-left: 55px;
    margin-bottom: 27px;
    font-size: 26px;
    font-family: 'Roboto-Regular';
}
.preguntas,
.sidr-class-preguntas {
    margin-bottom: 20px;
    color: #3075b4;
    margin-left: 90px;
    font-size: 22px;
    font-family: 'Roboto-Regular';
}
.respuestas {
    font-size: 17px;
    color: #000000;
    margin-left: 93px;
    margin-right: 99px;
    text-align: justify;
    font-family: 'roboto-thin';
}
#content {
    padding: 0px;
    background-image: url(../../images/textura.png);
}
.titulo1, .sidr-class-titulo1{
    color: #3075b4;
    font-size: 25px;
    margin-left: 40px;
    margin-bottom: 20px;
    font-family: 'Roboto-Regular';
        margin-top: 80px;
}
.sidr-class-titulo1{

    font-size: 26px;
    margin-top: 20px;
}
.cont-izq-lista {
    width: 100%;
    margin: 0 auto;
}
.categoria-wraper, .sidr-class-categoria-wraper{
    width: 100%;   
    height: 60px;
    line-height: 62px;
}
.linea {
    border: 2px solid #3075b4;
    width: 67%;
    margin-left: 36px;

}
.categoria-wraper.activo > .tipo-letra-cat,
.categoria-wraper > .tipo-letra-cat:hover,
.sidr-class-categoria-wraper.activo > .sidr-class-tipo-letra-cat,
.sidr-class-categoria-wraper > .sidr-class-tipo-letra-cat:hover
{
    background-color: #5388B7;
    color: white;
}
.tipo-letra-cat,.sidr-class-tipo-letra-cat {
    padding-left: 46px;
    font-size: 20px;
    font-family: 'roboto-thinitalic';
    font-weight: bold;
}
.newImage {
    background-image: url(../../images/FAQllantas.jpg);
    width: 95%;
    height: 250px;
    margin: 0 auto;
    background-repeat: no-repeat;
    margin-top: 54px;
    background-size: 100%;
}
.titulo-transparente {
    background-color: rgba(48, 117, 180, 0.56);
    width: 100%;
    height: 110px;
    position: relative;
    top: 140px;
}
.preguntas-wraper, .sidr-class-preguntas-wraper{
    height: 0;
    transition: height 4s;
    overflow: hidden;
    padding-left: 46px;
}
.titulocat {
    width: 30px;
    font-size: 40px;
    margin-left: 33px;
    color: white;
    position: relative;
    top: 7px;
    font-family: 'roboto-thinitalic';
}

.categoria-wraper.activo > .preguntas-wraper
{
   height: auto; 
}
.preguntas-wraper > ul >li,
.sidr-class-preguntas-wraper > ul >li  {
    list-style-type: none;
    height: 50px;
    width: 240px;
    line-height: 39px;
    font-family: 'roboto-thinitalic';
    font-size: 16px;
}
.preguntas-wraper > ul,
.sidr-class-preguntas-wraper > ul
{
    margin: 0;
    padding: 0;
}
.preguntas-wraper > ul >li:hover,
.sidr-class-preguntas-wraper > ul >li:hover,
.selected, 
.sidr-class-selected
{
 font-family: 'Roboto-Regular';
}
.container-Preguntas {
    width: 100%;
    display:none;

}
.activo, .sidr-class-activo
{
     height: auto !important;
     display:block;
}
.faq-responsive
{
    width: 32px;
    height: 29px;
    margin-left: 30px;
    margin-top: 3px;
    display: none;
    background-image: url(../../images/icono_menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 26px;
    cursor: pointer;
    z-index: 9999;
    background-color: #E80033;
}
.faq-responsive:hover
{
    background-color: #18466f;
}
.faqSidr
{   
    display: none;
    width:189px;
    background-color: blue;
    position: relative;
}
.sidr-class-faq-menu1
{
    width: 189px;
    height:100%;
    position: absolute;
    float: left;
    background-color:#ffffff;
}
.sidr-class-menu2
{
    width: 35px;
    height:100%;
    float: right;
        position: absolute;
    left: 154px;
}
div#faq-sidr {
    background-color: #D1D2CD;
    -webkit-box-shadow: none;
    box-shadow: none;
}
div#faq-sidr .sidr-inner {
    background-color: #D1D2CD !important;
}
.sidr1 ul {
    display: block;
    padding: 0;
    border: none;
}
.sidr1 ul li ul li a, 
.sidr1 ul li ul li span,
.sidr1 ul li a, .sidr1 ul li span {
    color: #DCE4EA;
    font-weight: bold;
    text-decoration: none;
    font-family: 'roboto-thin';
    font-size: 16px;
    margin: 0 auto;
    height: 22px;
    margin-top: 8px;
    cursor: pointer;
    border-bottom: 3px solid #2D72B1;
}
.sidr1 ul li:hover>a, 
.sidr1 ul li:hover>span, 
.sidr1 ul li.active>a, 
.sidr1 ul li.active>span, 
.sidr1 ul li.sidr-class-active>a, 
.sidr1 ul li.sidr-class-active>span {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.sidr1 ul > li:hover {
    line-height: inherit;
}

.sidr1 ul > li:hover > a, 
.sidr1 ul li.active, 
.sidr1 ul li.sidr-class-active {
    line-height: inherit;
    border-bottom: 3px solid #BBE573;
}
.sidr1 ul li {
    display: block;
    margin: 0;
    border-bottom: 3px solid #2D72B1;    
    border-top: 0;
    line-height: inherit;
}
.sidr1 ul li ul li:hover {
    line-height: inherit;
   } 
.sidr1 ul li ul li.active, 
.sidr1 ul li ul li.sidr-class-active,
.sidr1 ul li ul li {
    line-height: inherit;
    font-size: 13px;
}
.sidr1 ul > li.active:hover > a, 
.sidr1 ul > li.sidr-class-active:hover > a {
    border-bottom: 3px solid #2D72B1;
}
.sidr1 ul li span {
    background-color: #1c5386;
    padding-top: 3px;
}
.container-rigut-pf:after,
.container-left-pf:after,
.cont-categoria:after,
#content:after
{
    clear: both;
    content: '';
    display: block;
}