@media (max-width:1200px){
	.izquierdo {
	    width: 33%;
	}
	.newImage {
	    background-size: 100% 100%;
	}	

}
@media (max-width:960px){
	.izquierdo {
	    width: 34%;
	}
	.pregunta {
    	width: 80%;
   		line-height: 20px;
    	margin-top: 13px;
	}


}
@media (max-width:960px){
.imagen-preguntas-frecuentes {

    margin-left: 44px;

}

@media (max-width:768px){
	.chico
	{
	    display: block;
	}
	.grande
	{
		display:none;
	}
	.container-imagen {
	    margin-bottom: 9%;
	}
	.carrusel-frecuentes
	{
    	width: 100%;
    	height: 77px;
    	max-width: 480px;
    	margin: 0 auto;
	}
	#carousell {
	    width: 100%;
	    max-width: 369px;
	    position: relative;
	        margin: 0px 9.16%;
	    height: 77px;  
	    left:0px;
	}
   	.tipo-letra-cat, .sidr-class-tipo-letra-cat {
		padding-left: 10px;}
	#carousell ul li {
    	display: block;
    	max-width: 120px;
    	float: left;
	}
	#carousell ul{ 
	    margin: 0 -31px;
	}
	.flechaIzquierda
	{
	    top: -73px;
    	margin-right: 0px;
	}
	.categoria-wraper{
		max-width: 150px;
		float: left;
	}
.container-info {
	   background: #FFFFFF;
   	   padding: 45px 0;

}
	.preguntas-wraper {
	    overflow: visible;
		padding: 0;
		margin: 0 auto;
		width: 80%;
	    height: auto;
	}
	.pregunta {
	    width: 100%;
	}
	.preguntas-wraper > ul, .sidr-class-preguntas-wraper > ul {
	    width: 60%;
    	margin: 0 20%;
	}
	.linea {
    	border: 2px solid #3075b4;
    	width: 71%;
    	margin-left: 10px;

	}
	.preguntas
	{
		padding-top: 20px;
    	margin: auto 5% 10px;
    	text-align: center;
	}
	.respuestas
	{
	    padding-bottom: 30px;
	}

}
@media (max-width:480px){
	#carousell {
	    top: 0px;
	    max-width: 211px;
	    margin: 0px 17.16%;
	}
	.carrusel-frecuentes {
	    max-width: 320px;
	}
	#carousell ul li {
     	max-width: 144px;
    	margin: 0 30px;
	}
	.imagen-preguntas-frecuentes {
    margin-left: 10px;
    width: 360px;
    height: 206px;
}
.respuestas {
    padding-bottom: 30px;
    margin: auto 7%;
}
}
@media(max-width: 340px){
	.abajo .linea {
	    width: 78%;
	}
	.preguntas-wraper > ul{
        	margin: 0 2%;
	}
.tipo-letra-cat, .sidr-class-tipo-letra-cat {

    font-size: 16px;
	}
	.respuestas {
    margin-left: 37px;
    margin-right: 34px;
	}
	.preguntas, .sidr-class-preguntas {
    margin-left: 41px;
	}
	.preguntas-wraper {
    margin-bottom: 24%;
	}
	.imagen-preguntas-frecuentes {
    background-color: blue;
    width: 259px;
    height: 180px;
    margin-left: 36px;
    margin-top: 14px;
    background-size: 100% 100%;
}
.imagen-preguntas-frecuentes {
    margin-left: 60px;
    width: 250px;
    height: 136px;
	}

}