.derecha{
    width: 65%;
    background-image: url(../../images/textura.png);
    padding-bottom: 17%;
    float: right;
}
.izquierdo,.sidr-class-izquierdo1{
    width: 27%;
    background-color: #D1D2CD;
    padding-bottom: 35%;
    float: left;
    position: relative;
}
.sidr-class-izquierdo1{
 display: none;
 width: 100%;
}
.categorias-wraper, .sidr-class-categorias-wraper{
    width: 100%;
    position: relative;
    top: 0px;
    margin-top: 72px;
}
.container-imagen {
    width: 100%;
    background-image: url(../../images/textura.png);
}
.cont-categoria {
    color: #3075b4;
    margin-top: 31px;
    margin-left: 55px;
    margin-bottom: 27px;
    font-size: 26px;
    font-family: 'Roboto-Regular';
}
.preguntas,
.sidr-class-preguntas {
    margin-bottom: 20px;
    color: #3075b4;
    margin-left: 90px;
    font-size: 22px;
    font-family: 'Roboto-Regular';
}
.respuestas {
    font-size: 17px;
    color: #000000;
    margin-left: 93px;
    margin-right: 99px;
    text-align: justify;
    font-family: 'roboto-thin';
}
#content {
    padding: 0px;
    background-image: url(../../images/textura.png);
}
.titulo1, .sidr-class-titulo1{
    color: #3075b4;
    font-size: 25px;
    margin-left: 40px;
    margin-bottom: 20px;
    font-family: 'Roboto-Regular';
        margin-top: 80px;
}
.sidr-class-titulo1{

    font-size: 26px;
    margin-top: 20px;
}
.cont-izq-lista {
    width: 100%;
    margin: 0 auto;
}
.categoria-wraper, .sidr-class-categoria-wraper{
    width: 100%;   
    height: 60px; 
    line-height: 62px;
}
.linea {
    border: 2px solid #3075b4;
    width: 67%;
    margin-left: 36px;

}
.categoria-wraper.activo > .tipo-letra-cat,
.categoria-wraper.activos > .tipo-letra-cat,
.categoria-wraper > .tipo-letra-cat:hover,
.sidr-class-categoria-wraper.activo > .sidr-class-tipo-letra-cat,
.sidr-class-categoria-wraper > .sidr-class-tipo-letra-cat:hover
{
    background-color: #5388B7;
    color: white;
}
.tipo-letra-cat,.sidr-class-tipo-letra-cat {
    padding-left: 46px;
    font-size: 20px;
    font-family: 'roboto-thinitalic';
    font-weight: bold;
}
.newImage {
    width: 95%;
    height: 250px;
    margin: 0 auto;
    background-repeat: no-repeat;
    margin-top: 54px;
    background-size: 100% 100%;
}
.titulo-transparente {
    background-color: rgba(48, 117, 180, 0.56);
    width: 100%;
    height: 110px;
    position: relative;
    top: 140px;
}
.preguntas-wraper, .sidr-class-preguntas-wraper{
    height: 0;
    transition: height 4s;
    overflow: hidden;
    padding-left: 46px;
}
.titulocat {
    width: 30px;
    font-size: 40px;
    margin-left: 33px;
    color: white;
    position: relative;
    top: 7px;
    font-family: 'roboto-thinitalic';
}
.categoria-wraper.activo > .preguntas-wraper
{
   height: auto; 
}
.preguntas-wraper > ul >li,
.sidr-class-preguntas-wraper > ul >li  {
    list-style-type: none;
    height: 50px;
    width: 240px;
    line-height: 39px;
    font-family: 'roboto-thinitalic';
    font-size: 16px;
}
.preguntas-wraper > ul,
.sidr-class-preguntas-wraper > ul
{
    margin: 0;
    padding: 0;
}
.preguntas-wraper > ul >li:hover,
.sidr-class-preguntas-wraper > ul >li:hover,
.selected, 
.sidr-class-selected
{
 font-family: 'Roboto-Regular';
}
.container-Preguntas {
    width: 100%;
    display:none;

}
.categoria-wraper.activos > .preguntas-wraper
{
   height: auto; 
}
.activos
{
     height: auto !important;
     display:block;
}
.activo, .sidr-class-activo
{
     height: auto !important;
     display:block;
}
.grande{
    display:block;
}
.chico
{
    display: none;
    position: relative;
    width: 100%;
}
.flechaDerecha {
    background-image: url(../../images/flechaIzqSlider2.png);
    width: 50px;
    height: 60px;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    position: relative;
    top: 3px;
}
.flechaIzquierda {
    background-image: url(../../images/flechaDerSlider2.png);
    width: 50px;
    height: 60px;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    position: relative;
    top: -74px;
    display: block;
}

.carrusel-frecuentes
{
    overflow: hidden;
}
.categoria-wraper,
.pregunta {
    cursor: pointer;
}
#carousell
{
    width: 100%;
    max-width: 1113px;
    height: 186px;
    z-index: 0;
    margin: 0 auto;
    position: absolute;
    top: -1px;
    left: 45px;
    overflow: hidden;
}
#page {
    margin-top: 0px;
    margin-bottom: 0px;
    background: #dedede !important;
    border: 1px solid #C9E0ED;
}
.abajo .preguntas-wraper li
{
    display: none;
}

.abajo .preguntas-wraper li.active {
    display: block;
}
.abajo .linea {
    width: 100%;
    margin: 0;
    padding-right: 20px;
}
.imagen-preguntas-frecuentes {

    width: 500px;
    height: 286px;
    margin-left: 146px;
    margin-top: 14px;
    background-position: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.abajo .preguntas-wraper:after,
.container-rigut-pf:after,
.container-left-pf:after,
.cont-categoria:after,
.wraperCategorias:after,
.abajo:after,
.arriba:after,
.grande:after,
.chico:after,
.content-wrapper:after,
#content:after,
.preguntas-wraper:after,
.carrusel-frecuentes:after
{
    clear: both;
    content: '';
    display: block;
}