.derecha{
    width: 65%;
    background-image: url(../../images/textura.png);
    padding-bottom: 17%;
    float: right;
}
.izquierdo{
    width: 27%;
    background-color: #D1D2CD;
    padding-bottom: 35%;
    float: left;
    position: relative;
}
.categorias-wraper{
    width: 100%;
    position: relative;
    top: 0px;
    margin-top: 72px;
}
.container-imagen {
    width: 100%;
    background-image: url(../../images/textura.png);
}
.cont-categoria {
    color: #3075b4;
    margin-top: 31px;
    margin-left: 55px;
    margin-bottom: 27px;
    font-size: 26px;
    font-family: 'Roboto-Regular';
}
.preguntas {
    margin-bottom: 20px;
    color: #3075b4;
    margin-left: 90px;
    font-size: 22px;
    font-family: 'Roboto-Regular';
}
.respuestas {
    font-size: 17px;
    color: #000000;
    margin-left: 93px;
    margin-right: 99px;
    text-align: justify;
    font-family: 'roboto-thin';
}
#content {
    padding: 0px;
    background-image: url(../../images/textura.png);
}
.titulo1 {
    color: #3075b4;
    font-size: 25px;
    margin-left: 40px;
    margin-bottom: 20px;
    font-family: 'Roboto-Regular';
        margin-top: 80px;
}
.cont-izq-lista {
    width: 100%;
    margin: 0 auto;
}
.categoria-wraper{
    width: 100%;   
    height: 60px;
    line-height: 62px;
}
.linea {
    border: 2px solid #3075b4;
    width: 67%;
    margin-left: 36px;

}
.categoria-wraper.activo > .tipo-letra-cat,
.categoria-wraper > .tipo-letra-cat:hover
{
    background-color: #5388B7;
    color: white;
}
.tipo-letra-cat {
    padding-left: 46px;
    font-size: 20px;
    font-family: 'roboto-thinitalic';
    font-weight: bold;
}
.newImage {
    background-image: url(../../images/FAQllantas.jpg);
    width: 95%;
    height: 250px;
    margin: 0 auto;
    background-repeat: no-repeat;
    margin-top: 54px;
    background-size: 100%;
}
.titulo-transparente {
    background-color: rgba(48, 117, 180, 0.56);
    width: 100%;
    height: 110px;
    position: relative;
    top: 140px;
}
.preguntas-wraper{
    height: 0;
    transition: height 4s;
    overflow: hidden;
    padding-left: 46px;
}
.titulocat {
    width: 30px;
    font-size: 40px;
    margin-left: 33px;
    color: white;
    position: relative;
    top: 7px;
    font-family: 'roboto-thinitalic';
}

.categoria-wraper.activo > .preguntas-wraper
{
   height: auto; 
}
.preguntas-wraper > ul >li {
    list-style-type: none;
    height: 50px;
    width: 240px;
    line-height: 39px;
    font-family: 'roboto-thinitalic';
    font-size: 16px;
}
.preguntas-wraper > ul
{
    margin: 0;
    padding: 0;

}
.preguntas-wraper > ul >li:hover,
.selected
{
 font-family: 'Roboto-Regular';
}
.container-Preguntas {
    width: 100%;
    display:none;

}
.activo
{
     height: auto !important;
     display:block;
}
.container-rigut-pf:after,
.container-left-pf:after,
.cont-categoria:after,
#content:after
{
    clear: both;
    content: '';
    display: block;
}