@media (max-width:1200px){
	.izquierdo {
	    width: 33%;
	}
	.newImage {
	    background-size: 100% 100%;
	}	

}
@media (max-width:960px){
	.izquierdo {
	    width: 34%;
	}
	.pregunta {
    width: 80%;
    line-height: 20px;
    margin-top: 13px;
}


}
@media (max-width:768px){
	.chico
	{
	    display: block;
	}
	.grande
	{
		display:none;
	}
	.container-imagen {
	    margin-bottom: 9%;
	}
	#carousell {
    width: 100%;
    max-width: 307px;
    top: 347px;
    }
    .tipo-letra-cat, .sidr-class-tipo-letra-cat {
    padding-left: 10px;}
}
@media (max-width:480px){

}