/*#content
{
    margin-top: 22px !important;
}*/
/* */
/* --------  MODIFICAR  --------- */

/*  --------- CARRUCEL ---------- */
.container1 {
    width: 100%;
    /*background-color:#ECECEC;*/
    position: relative;
}
#main-carousel ul,
#second-carousel ul
{
    margin: 0;
}
#second-carousel ul
{
    width: 1000em !important;
}
.carousel-wrapper
{
    position: relative;
}


.flechaIzq
{
    position: absolute;
    width: 30px;
    height: 45px;
    top: 200px;
    left: 30px;
    background-image: url(../../images/flechaIzqSlider.png);
    background-repeat: no-repeat;
    background-size: 100%;
    float: right;
    z-index: 9;
}
.flechaDer
{
    position: absolute;
    width: 30px;
    height: 45px;
    float: right;
    background-image: url(../../images/flechaDerSlider.png);
    background-repeat: no-repeat;
    background-size: 100%;
    top: 200px;
    right: 30px;
    z-index: 9;
}
.container11 {
    position: absolute;
    width: 400px;
    top: 100px;
    left: 180px;
    z-index: 9;
}
.image1-carousel {
    width: 100%;
    padding-bottom:38.57%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.contenedorIzquierdo 
{
    width: 100%;
    max-width: 618px;
    float: left;
}
.contenedorDerecha {
    /*width: 333px;*/
    float: left;
}



/*  --------- CARRUCEL ---------- */

.carousel-wrapper
{
    width: 100%;
    height: 160px;
    position: relative;
/*    top: 0px;
    left: 233px;*/
}
.container2 
{
    width: 100%;
    /*background-color: #ECECEC;*/
}
.container3 
{
    width: 100%;
    min-height: 290px;
    background-color: #2E73B2;
    border-top: 7px solid #E80033;
    box-shadow: 0 2px 2px #939191;
    z-index: 10;
    position: relative;
}
.categoriasTitulo
{
    font-family: Roboto-Bold;
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.contenerdor-tercero 
{
    overflow: hidden;
       /*height: 335px;*/
}
.container4 
{
    width: 100%;
    padding-bottom: 6%;
}
.titulares4 
{
    width: 207px;
    height: 250px;
    background-color: #FFFFFF;
    border: 2px outset #EFEFEF;
    float: left;
    margin-right: 25px;
}
.titulares4:last-child
{
    margin-right: 0;
}
.pContainer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 60px;
}
.ppContainer
{
    width: 100%;
    max-width: 952px;
    margin: 0 auto;
    padding-top: 60px;
    margin-bottom: 25px;
}
.ppContainer2
{
    width: 100%;
    max-width: 922px;
    margin: 0 auto;
    padding-top: 60px;
}

.categoriasl 
{
    background-color: #ffffff;
    width: 445px;
    margin-bottom: 32px;
    height: 136px;
    float: left;
}
.categoriasl:nth-child(2n)
{
    float: right;
}
.oferta {
    width: 100%;
    max-width: 260px;
    height: 184px;
    background-color: #FFFFFF;
    margin-top: 25px;
}
.ofertaDown
{
    position: relative;
}
.imagenOferta
{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 260px;
    height: 132px;
}
.letreror
{
    width: 80px;
    height: 52px;
    background-color: #CA243E;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    line-height: 51px;
    float: left;
}

label.titulo1 {
    display: block;
    color: #ffffff;
    font-family: Roboto-Bold;
    font-size: 20px;
    margin-bottom: 19px;
}
label.subitutlo1 {
    font-size: 14px;
    color: #E5DC97;
    font-family: Roboto-Regular;
    margin-bottom: 19px;
}
.botonVer {
    background-color: rgba(151, 25, 25, 0.67);
    width: 108px;
    height: 40px;
    position: absolute;
    top: 98px;
    left: 0px;
    color: rgba(255, 255, 255, 0.69);
    text-align: center;
    line-height: 37px;
}
label.subtitulo21 {
    font-size: 16px;
    color: #2E72B1;
    display: block;
    text-align: center;
    margin-top: 12px;
}
label.subtitulo22 {
    font-size: 16px;
    color: #cababa;
    text-align: center;
    display: block;
}
.botonVerde 
{
    width: 140px;
    height: 40px;
    background-color: #A1D25C;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 21px;
    color: #424B46;
    text-align: center;
    line-height: 42px;
    text-decoration: none;
}
.botonVerde:hover
{
    color: #424B46;
}
.ofertaUp
{
    height: 52px;
}
.ofertal 
{
    width: 180px;
    height: 52px;
    float: left;
}
.sproducto 
{
    background-color: #FFFFFF;
    width: 148px;
    height: 143px;
    border-radius: 12px;
    float: left;
    box-shadow: 2px 2px 2px #939191;
}
.sproducto div
{
    width: 126px;
    height: 120px;
    margin: 10px;
    background-repeat: no-repeat;
    background-size: 110px 110px;
    background-position: center;
    border: 1px solid #c1b5b5;
    border-radius: 12px;
}
.flechaISl2 
{
    background-image: url(../../images/flechaIzqSlider2.png);
    width: 57px;
    height: 160px;
    background-repeat: no-repeat;
    background-size: 40px 60px;
    background-position: center;
    float: left;
    /*position: absolute;*/
    /*top: 53px;*/
    /*left: -51px;*/
}
.flechaDSl2 
{
    background-image: url(../../images/flechaDerSlider2.png);
    width: 57px;
    height: 160px;
    background-repeat: no-repeat;
    background-size: 40px 60px;
    background-position: center;
    float: left;
    /*position: absolute;*/
    /*background-size: 100%;*/
/*    top: 54px;
    right: -48px;*/
    
}
div.letrerosl2 
{
    text-align: center;
    font-size: 24px;
    color: #2A6BA7;
    font-family: Roboto-Bold;
    margin-bottom: 20px;
}
.imagenCat 
{
    background-position: center;
    background-size: 145px 105px;
    width: 170px;
    height: 136px;
    background-repeat: no-repeat;
    float: left;
}
.imagenCat1{
    background-image: url(../../images/autopartes.jpg);
    background-position: 13% 93%;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 170px;
    height: 120px;
    float: left;
   }
.imagenCat2 {
    background-image: url(../../images/limpiadores.jpg);
    background-position: 98% 93%;
    width: 170px;
    height: 120px;
    background-repeat: no-repeat;
    background-size: 100%;
    float: left;
}
   .imagenCat3 {
    background-image: url(../../images/bujias.jpg);
    background-position: 98% 93%;
    background-size: 100%;
    width: 170px;
    height: 120px;
    background-repeat: no-repeat;
    float: left;
}
label.letreroCat {
    display: block;
    font-size: 25px;
    color: #426688;
    margin:0 auto;
    margin-top: 30px;    

}
.botonVerdeC 
{
    background-color: #A1D25C;
    width: 134px;
    height: 38px;
    box-shadow: 1px 2px 8px #716969;
    color: #63734c;
    font-size: 19px;
    text-align: center;
    margin: 0 auto; 
    line-height: 41px;
    margin-top: 16px;
    display: block;
    text-decoration: none;
}
.botonVerdeC:hover
{
    color: #63734c;
}
label.letrarofCat 
{
    color: #FFFFFF;
    display: block;
    text-align: center;
    font-size: 18px;
    font-family: Roboto-Light;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.flechaCat {
    background-image: url(../../images/flechaCategorias.png);
    background-repeat: no-repeat;
    width: 57px;
    height: 100px;
    margin: 0 auto;
    background-position: center;
    background-size: 67%;
    transform:rotate(0deg);
}

label.titulo41 {
    font-size: 15px;
    color: #62B9E8;
    display: block;
    margin-left: 22px;
    margin-top: 20px;
}
label.titulo42 {
    font-size: 14px;
    color: #6091C1;
    display: block;
    margin-left: 22px;
    margin-top: 1px;
}
.linea41 {
    border: 1px solid #2F74B3;
    width: 145px;
    position: absolute;
    margin-top: 4px;
    margin-bottom: 1px;
    margin-left: 21px;
    margin-right: 21px;
}
label.titulo43 {
    display: block;
    text-align: justify;
    margin: 0 auto;
    margin-top: 12px;
    margin-left: 21px;
    margin-right: 21px;
}
label.titulo43 {
    display: block;
    text-align: justify;
    margin: 0 auto;
    margin-top: 12px;
    margin-left: 21px;
    margin-right: 21px;
    font-size: 15px;
}
.titulo44 {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
    margin-top: 10px;
    display: block;
    color:#42AEE6;
    text-decoration: none;
}
.titulo44:hover
{
    color:#42AEE6;
}

.image411 
{
    background-repeat: no-repeat;
    background-size: 170px 128px;
    background-position: center;
    width: 100%;;
    height: 148px;
}
#main-carousel 
{
    width: 100%;
    padding-bottom: 38.5%;
    max-height: 462px;
    position: relative;
    overflow: hidden;
    z-index: 0;
    /*top: -77px;*/
}
#main-carousel ul {
    position: absolute;
    top: 0;
    width: 100%;
    list-style-type: none;
    padding: 0;
    z-index: 1;
}
#main-carousel ul li {
    padding: 0;
    float: left;
    width: 100%;
}
#main-carousel ul li .img-carousel {
    width: 100%;
    height: 478px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#second-carousel
{
    width: 490px;
    height: 186px;
    position: relative;
    overflow: hidden;
    float: left;
    z-index: 0;
}
#second-carousel ul
{
    position: absolute;
    top:0;
    width: 100%;
    list-style-type: none;
    padding: 0;
    z-index: 4;

}
#second-carousel ul li {
    padding: 0;
    float: left;
    width: 148px;
    margin: 7px;
}
.categoriasd {
    float: left;
    margin-left: 15px;
}
.newflecha
{
    transform:rotate(180deg);
}
input[type="text"] {
    max-width: 336px;
    width: 100%;
    height: 150px;
}

.titulares4:after,
.categoriasl:after,
.pContainer:after,
.ppContainer:after,
.ppContainer2:after,
.ofertaUp:after,
div.container4:after,
div.container3:after,
div.container2:after,
div.container1:after,
.contenerdor-tercero:after,
#main-carousel:after,
.carousel-wrapper:after
{
    clear: both;
    content: '';
    display: block;
}
