#content
{
	padding:0;
}
/* */
/* --------  MODIFICAR  --------- */

/*  --------- CARRUCEL ---------- */
.container1 {
    width: 100%;
    background-color:#ECECEC;
    position: relative;
}
.carousel-wrapper
{
    position: relative;
}


.flechaIzq
{
    position: absolute;
    width: 30px;
    height: 45px;
    top: 285px;
    left: 30px;
    background-image: url(../../images/flechaIzqSlider.png);
    background-repeat: no-repeat;
    background-size: 100%;
    float: right;
    z-index: 9;
}
.flechaDer
{
    position: absolute;
    width: 30px;
    height: 45px;
    float: right;
    background-image: url(../../images/flechaDerSlider.png);
    background-repeat: no-repeat;
    background-size: 100%;
    top: 285px;
    right: 30px;
    z-index: 9;
}
.container11 {
    position: relative;
    width: 400px;
    top: 138px;
    left: 180px;
    z-index: 9;
}
.image1-carousel {
    width: 100%;
    padding-bottom:38.57%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.contenedorIzquierdo {
    width: 65%;
    float: left;
}
.contenedorDerecha {
    width: 35%;
    float: right;
}



/*  --------- CARRUCEL ---------- */

.carousel-wrapper
{
 width: 504px;
    height: 160px;
    position: relative;
    top: 0px;
    left: 233px;
}
.container2 {
    width: 100%;
    background-color: #ECECEC;
    position: relative;
    top: -80px;
}
.container3 {
    width: 100%;
    min-height:511px;
    background-color: #2E73B2;
    border-top: 7px solid #E80033;
}
.contenerdor-tercero {
    overflow: hidden;
       height: 335px;
}
.container4 {
    width: 100%;
   
    background-color: #ECECEC;
    padding-bottom: 6%;
}
.titulares4 {
    width: 189px;
    height: 240px;
    background-color: #ffffff;
    border: 2px outset #EFEFEF;
    float: left;
    margin-left: 3%;
    margin-top: 15px;
}
.titulares4:first-child
{
	margin-left: 15%;
}

.pContainer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 60px;
}
.ppContainer
{
        width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 60px;
}

.categoriasl 
{
    background-color: #ffffff;
    width: 407px;
    height: 136px;
    float: left;
    margin-left: 183px;
   
}

.categoriasl:nth-child(2n)
{
    margin-left: 63px;
    margin-bottom: 3%;
}
.oferta {
    width: 100%;
    max-width: 260px;
    height: 182px;
    background-color: white;
    position: relative;
    top: 0px;
    margin-right: 139px;
    background-position: 100% 100%;
    float: right;
}
.imagenOferta{
    background-image: url(../../images/ofertaSpecial.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 261px;
    height: 132px;
    top: 52px;
}
.letreror{
    width: 80px;
    height: 52px;
    background-color: #CA243E;
    position: absolute;
    color: #ffffff;
    right: 0px;
    font-size: 24px;
    text-align: center;
    line-height: 51px;
}

label.titulo1 {
    display: block;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 19px;
}
label.subitutlo1 {
    font-size: 14px;
    color: #E5DC97;
        margin-bottom: 19px;
}
.botonVer {
    background-color: rgba(151, 25, 25, 0.67);
    width: 108px;
    height: 40px;
    position: absolute;
    top: 98px;
    left: 0px;
    color: rgba(255, 255, 255, 0.69);
    text-align: center;
    line-height: 37px;
}
label.subtitulo21 {
    font-size: 16px;
    color: #2E72B1;
    display: block;
    text-align: center;
    margin-top: 12px;
}
label.subtitulo22 {
    font-size: 16px;
    color: #cababa;
    text-align: center;
    display: block;
}
.botonVerde {
    width: 140px;
    height: 40px;
    background-color: #A1D25C;
    position: absolute;
    top: 143px;
    right: -1px;
    font-size: 21px;
    color: #424B46;
    text-align: center;
    line-height: 42px;
}
.ofertal {
    position: absolute;
    width: 100%;
    max-width: 180px;
    height: 52px;
}
.sproducto {
    background-color: #ffffff;
    width: 148px;
    height: 143px;
    border-radius: 12px;
    float: left;
}
.images1 {
    background-image: url(../../images/amortiguadores.jpg);
    width: 126px;
    height: 120px;
    position: relative;
    top: 10px;
    left: 11px;
    background-repeat: no-repeat;
    border: 1px solid #c1b5b5;
    border-radius: 12px;
    background-position: 30% 41%;
}
.images2{
    background-image: url(../../images/deicer.jpg);
    width: 126px;
    height: 120px;
    position: relative;
    top: 10px;
    left: 11px;
    background-repeat: no-repeat;
    border: 1px solid #c1b5b5;
    border-radius: 12px;
    background-position: 50% 40%;
}
.images3{
    background-image: url(../../images/carwash.jpg);
    width: 126px;
    height: 120px;
    position: relative;
    top: 10px;
    left: 11px;
    background-repeat: no-repeat;
    border: 1px solid #c1b5b5;
    border-radius: 12px;
    background-position: 32% 30%;
}
.flechaISl2 {
    background-image: url(../../images/flechaIzqSlider2.png);
    width: 40px;
    height: 60px;
    position: absolute;
    background-size: 100%;
    top: 53px;
    left: -51px;
    background-position: 100% 100%;

    background-repeat: no-repeat;
}
.flechaDSl2 {
    background-image: url(../../images/flechaDerSlider2.png);
    width: 40px;
    height: 60px;
    position: absolute;
    background-size: 100%;
    top: 54px;
    right: -48px;
    
}
label.letrerosl2 {
    display: block;
    text-align: center;
    font-size: 21px;
    color: #2A6BA7;
    position: relative;
    top: 0px;
}
.imagenCat {
    background-image: url(../../images/llantas.png);
    background-position: 98% 93%;
    width: 170px;
    height: 120px;
    margin-top: 13px;
    background-repeat: no-repeat;
    float: left;
}
.imagenCat1{
    background-image: url(../../images/autopartes.jpg);
    background-position: 13% 93%;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 170px;
    height: 120px;
    float: left;
   }
.imagenCat2 {
    background-image: url(../../images/limpiadores.jpg);
    background-position: 98% 93%;
    width: 170px;
    height: 120px;
    background-repeat: no-repeat;
    background-size: 100%;
    float: left;
}
   .imagenCat3 {
    background-image: url(../../images/bujias.jpg);
    background-position: 98% 93%;
    background-size: 100%;
    width: 170px;
    height: 120px;
    background-repeat: no-repeat;
    float: left;
}
label.letreroCat {
    display: block;
    font-size: 25px;
    color: #426688;
    margin:0 auto;
    margin-top: 30px;    

}
.botonVerdeC {
    background-color: #A1D25C;
    width: 134px;
    height: 38px;
    box-shadow: 1px 2px 8px #716969;
    color: #63734c;
    font-size: 19px;
    text-align: center;
    margin: 0 auto; 
    line-height: 41px;
        margin-top: 16px;
    
}
label.letrarofCat {
    color: #ffffff;
    display: block;
    text-align: center;
    font-size: 15px;
}

.flechaCat {
    background-image: url(../../images/flechaCategorias.png);
    background-repeat: no-repeat;
    width: 57px;
    height: 100px;
    margin: 0 auto;
    background-position: center;
    background-size: 67%;
    transform:rotate(0deg);
}

label.titulo41 {
    font-size: 15px;
    color: #62B9E8;
    display: block;
    margin-left: 22px;
    margin-top: 20px;
}
label.titulo42 {
    font-size: 14px;
    color: #6091C1;
    display: block;
    margin-left: 22px;
    margin-top: 1px;
}
.linea41 {
    border: 1px solid #2F74B3;
    width: 145px;
    position: absolute;
    margin-top: 4px;
    margin-bottom: 1px;
    margin-left: 21px;
    margin-right: 21px;
}
label.titulo43 {
    display: block;
    text-align: justify;
    margin: 0 auto;
    margin-top: 12px;
    margin-left: 21px;
    margin-right: 21px;
}
label.titulo43 {
    display: block;
    text-align: justify;
    margin: 0 auto;
    margin-top: 12px;
    margin-left: 21px;
    margin-right: 21px;
    font-size: 15px;
}
label.titulo44 {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
    margin-top: 10px;
    display: block;
    color:#42AEE6;
}

.logoMarenasa {
    background-image: url(../../images/Marenasa.png);
    background-size: 100%;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    position: absolute;
    top: 4px;
    left: 60px;
}
.image411 {
    background-image: url(../../images/ofertaMenor.jpg);
    background-repeat: no-repeat;
    background-size: 93%;
    background-position: 21px;
    width: 160px;
    height: 148px;
}
#main-carousel {
    width: 100%;
    height: 478px;
    position: relative;
    overflow: hidden;
    z-index: 0;
    top: -74px;
}
#main-carousel ul {
    position: absolute;
    top: 0;
    width: 100%;
    list-style-type: none;
    padding: 0;
    z-index: 1;
}
#main-carousel ul li {
    padding: 0;
    float: left;
    width: 100%;
}
#main-carousel ul li .img-carousel {
    width: 100%;
    height: 478px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#second-carousel
{
    width: 100%;
    height: 186px;
    position: relative;
    overflow: hidden;
    z-index: 0;
    top: 0px;
}
#second-carousel ul
{
    position: absolute;
    top:0;
    width: 100%;
    list-style-type: none;
    padding: 0;
    z-index: 4;

}
#second-carousel ul li {
    padding: 0;
    float: left;
    width: 30%;
        margin: 7px;
}
.categoriasd {
    float: left;
    margin-left: 15px;
}
.newflecha
{
    transform:rotate(180deg);
}
input[type="text"] {
    max-width: 336px;
    width: 100%;
    height: 150px;
}

.titulares4:after,
.categoriasl:after,
.pContainer:after,
div.container4:after,
div.container3:after,
div.container2:after,
div.container1:after,
.contenerdor-tercero:after,
#main-carousel:after
{
    clear: both;
    content: '';
    display: block;
}
