.banner-scl {
    width: 100%;
    height: 100px;
    background-color: #ececec;
    border-bottom: 10px solid #2E73B2;
    border-top: 10px solid #d8d8d8;
    margin-bottom: 40px;
}
.titulo1-scl {
    color: #000000;
    font-size: 27px;
    font-family: 'Roboto-Bold';
    position: relative;
    margin-top: 40px;
    width: 190px;
    margin: 33px auto;
}
.contenedor-scl {
    background-color: #ececec;

}
.container-sucursales {
    width: 370px;
    height: 450px;
    float: left;
    margin: 0 15px;
}
.imagen-scl {
    margin: 0 10%;
    width: 80%;
    height: 175px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.informacion-scl {
    margin: 5% 10%;
    width: 80%;
    height: 170px;
}
.titulo2-scl {
    color: #3075b4;
    font-family: 'Roboto-Bold';
    font-size: 25px;
    margin: 14px 0;
}
.text-scl {
    font-size: 18px;
    font-family: 'Roboto-Regular';
    margin: 3px 0px;
}
p{
    margin:0 !important;
}

.contenedor-scl:after{
    clear: both;
    content: '';
    display: block;
}