#content
{
	padding:0;
}
/* */
.container1 {
    width: 100%;
   padding-bottom:32.57%;
    background-color:#ECECEC;
    position: relative;
}
.container11 {
    position: relative;
    width: 400px;
    top: 80px;
    left: 180px;
    z-index: 9;
}
.image1-carousel {
    width: 100%;
    padding-bottom:34.57%;
    background-image: url(../../images/Slider.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 30px;
}
/* --------  MODIFICAR  --------- */
.image2-carousel
{
    width: 100%;
    padding-bottom: 34%;
    background-image: url(../../images/Slider.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
/*  -------------------- */
.flechaIzq
{
    position: absolute;
    width: 30px;
    height: 45px;
    top: 165px;
    left: 30px;
    background-image: url(../../images/flechaIzqSlider.png);
    background-repeat: no-repeat;
    background-size: 100%;
    float: right;
    z-index: 9;
}
.flechaDer
{
    position: absolute;
    width: 30px;
    height: 45px;
    float: right;
    background-image: url(../../images/flechaDerSlider.png);
    background-repeat: no-repeat;
    background-size: 100%;
    top: 165px;
    right: 30px;
    z-index: 9;
}

.container2 {
    width: 100%;
    padding-bottom: 7%;
    background-color: #ECECEC;
    position: relative;
}
.container3 {
    width: 100%;
    height:511px;
    background-color: #2E73B2;
     border-top: 7px solid #E80033;
}
.container4 {
    width: 100%;
    height: 355px;
    background-color: #ECECEC;
}
.titulares4 {
    width: 189px;
    height: 240px;
    background-color: #ffffff;
    border: 2px outset #EFEFEF;
    float: left;
    margin-left: 3%;
    margin-top: 55px;
}
.titulares4:first-child
{
	margin-left: 15%;
}

.pContainer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.categoriasl 
{
    background-color: #ffffff;
    width: 407px;
    height: 136px;
    float: left;
    margin-left: 183px;
    position: relative;
    top: 60px;
}

.categoriasl:nth-child(2n)
{
    margin-left: 63px;
    margin-bottom: 3%;
}
.oferta {
    width: 260px;
    height: 182px;
    background-color: white;
    position: relative;
    top: 40px;
    margin-right: 139px;
    background-position: 100% 100%;
    float: right;
}
.imagenOferta{
    background-image: url(../../images/ofertaSpecial.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 261px;
    height: 132px;
    top: 52px;
}
.letreror{
    width: 80px;
    height: 52px;
    background-color: #CA243E;
    position: absolute;
    color: #ffffff;
    right: 0px;
    font-size: 24px;
    text-align: center;
    line-height: 51px;
}
.jcimage
{

}
label.titulo1 {
    display: block;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 19px;
}
label.subitutlo1 {
    font-size: 14px;
    color: #E5DC97;
        margin-bottom: 19px;
}
.botonVer {
    background-color: rgba(151, 25, 25, 0.67);
    width: 108px;
    height: 40px;
    position: absolute;
    top: 98px;
    left: 0px;
    color: rgba(255, 255, 255, 0.69);
    text-align: center;
    line-height: 37px;
}
.carousel-wrapper {
    width: 504px;
    height: 160px;
    position: relative;
    top: 51px;
   left: 233px;
}
label.subtitulo21 {
    font-size: 16px;
    color: #2E72B1;
    display: block;
    text-align: center;
    margin-top: 12px;
}
label.subtitulo22 {
    font-size: 16px;
    color: #cababa;
    text-align: center;
    display: block;
}
.botonVerde {
    width: 140px;
    height: 40px;
    background-color: #A1D25C;
    position: absolute;
    top: 143px;
    right: -1px;
    font-size: 21px;
    color: #424B46;
    text-align: center;
    line-height: 42px;
}
.ofertal {
    position: absolute;
    width: 180px;
    height: 52px;
}
.sproducto {
    background-color: #ffffff;
    width: 148px;
    height: 143px;
    border-radius: 12px;
    float: left;
    margin: 10px;
}
.images1 {
    background-image: url(../../images/amortiguadores.jpg);
    width: 126px;
    height: 120px;
    position: relative;
    top: 10px;
    left: 11px;
    background-repeat: no-repeat;
    border: 1px solid #c1b5b5;
    border-radius: 12px;
    background-position: 30% 41%;
}
.images2{
    background-image: url(../../images/deicer.jpg);
    width: 126px;
    height: 120px;
    position: relative;
    top: 10px;
    left: 11px;
    background-repeat: no-repeat;
    border: 1px solid #c1b5b5;
    border-radius: 12px;
    background-position: 50% 40%;
}
.images3{
    background-image: url(../../images/carwash.jpg);
    width: 126px;
    height: 120px;
    position: relative;
    top: 10px;
    left: 11px;
    background-repeat: no-repeat;
    border: 1px solid #c1b5b5;
    border-radius: 12px;
    background-position: 32% 30%;
}
.flechaISl2 {
    background-image: url(../../images/flechaIzqSlider2.png);
    width: 40px;
    height: 60px;
    position: absolute;
    background-size: 100%;
    top: 53px;
    left: -51px;
    background-position: 100% 100%;
}
.flechaDSl2 {
    background-image: url(../../images/flechaDerSlider2.png);
    width: 40px;
    height: 60px;
    position: absolute;
    background-size: 100%;
    top: 54px;
    right: -48px;
}
label.letrerosl2 {
    display: block;
    text-align: center;
    font-size: 21px;
    color: #2A6BA7;
    position: relative;
    top: 40px;
}
.imagenCat {
    background-image: url(../../images/llantas.png);
    background-position: 98% 93%;
    width: 170px;
    height: 120px;
    margin-top: 13px;
    background-repeat: no-repeat;
}
.imagenCat1{
    background-image: url(../../images/autopartes.jpg);
    background-position: 13% 93%;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 170px;
    height: 120px;
   }
.imagenCat2 {
    background-image: url(../../images/limpiadores.jpg);
    background-position: 98% 93%;
    width: 170px;
    height: 120px;
    background-repeat: no-repeat;
    background-size: 100%;
}
   .imagenCat3 {
    background-image: url(../../images/bujias.jpg);
    background-position: 98% 93%;
    background-size: 100%;
    width: 170px;
    height: 120px;
    background-repeat: no-repeat;
}
label.letreroCat {
    display: block;
    font-size: 25px;
    color: #426688;
    left: 180px;
    top: 39px;
    position: absolute;
    margin-left: 40px;
}
.botonVerdeC {
    background-color: #A1D25C;
    width: 134px;
    height: 38px;
    position: absolute;
    top: 80px;
    right: 90px;
    box-shadow: 1px 2px 8px #716969;
    margin-right: -30px;
    color: #63734c;
    font-size: 19px;
    text-align: center;
    line-height: 41px;
}
label.letrarofCat {
    color: #ffffff;
    display: block;
    position: relative;
    top: 407px;
    right: 507px;
    font-size: 15px;
}

.flechaCat {
    background-image: url(../../images/flechaCategorias.png);
    background-repeat: no-repeat;
    width: 57px;
    height: 100px;
    position: relative;
    top: 390px;
    left: 585px;
    background-position: 20px;
    background-size: 67%;
}
label.titulo41 {
    font-size: 15px;
    color: #62B9E8;
    display: block;
    margin-left: 22px;
    margin-top: 20px;
}
label.titulo42 {
    font-size: 14px;
    color: #6091C1;
    display: block;
    margin-left: 22px;
    margin-top: 1px;
}
.linea41 {
    border: 1px solid #2F74B3;
    width: 145px;
    position: absolute;
    margin-top: 4px;
    margin-bottom: 1px;
    margin-left: 21px;
    margin-right: 21px;
}
label.titulo43 {
    display: block;
    text-align: justify;
    margin: 0 auto;
    margin-top: 12px;
    margin-left: 21px;
    margin-right: 21px;
}
label.titulo43 {
    display: block;
    text-align: justify;
    margin: 0 auto;
    margin-top: 12px;
    margin-left: 21px;
    margin-right: 21px;
    font-size: 15px;
}
label.titulo44 {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
    margin-top: 10px;
    display: block;
    color:#42AEE6;
}

.logoMarenasa {
    background-image: url(../../images/Marenasa.png);
    background-size: 100%;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    position: absolute;
    top: 4px;
    left: 60px;
}
.image411 {
    background-image: url(../../images/ofertaMenor.jpg);
    background-repeat: no-repeat;
    background-size: 93%;
    background-position: 21px;
    width: 160px;
    height: 148px;
}

.titulares4:after,
.categoriasl:after,
.pContainer:after,
div.container4:after,
div.container3:after,
div.container2:after,
div.container1:after
{
    clear: both;
    content: '';
    display: block;
}
