.container-historia1 {
    width: 100%;
    padding-bottom: 30%;
    z-index: 9;
    background-repeat: no-repeat;
    background-size: 100%;
}
.titulos1 {
    color: #ffffff;
    font-size: 31px;
    z-index: 99999;
    width: 90%;
    position: absolute;
    top: 110px;
    margin-top: 15%;
    margin-left: 10%;
}
.subtitulos1 {
    color: #E7D69E;
    font-size: 31px;
    z-index: 99999;
    width: 30%;
    position: absolute;
    top: 110px;
    margin-top: 18.5%;
    margin-left: 10%;

}
.container-historia2 {
    width: 100%;
    padding-bottom: 60px;
    background-color: #ececec;
}

.container-texto {
    width: 59%;
    font-size: 26px;
    text-align: justify;
    margin-left: 51px;
    margin-top: 60px;
    float: left;
}
.container-historia3 {
    border-top: 15px solid #E80033;
    width: 100%;
    padding-bottom: 4%;
    background-color: #ececec;
}
.carousel {
    width: 100%;
    height: 180px;
    position: relative;
    top: 118px;
    overflow: hidden;
}

.figura-hist 
{
    width: 31%;
    height: 350px;
    float: left;
    /*background-image: url(../../images/Numero1.png);*/
    background-size: 56%;
    background-repeat: no-repeat;
    background-position: 100%;
    margin-right: 60px;
}
.flechaDerecha {
    background-image: url(../../images/flechaIzqSlider2.png);
    width: 50px;
    height: 180px;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    position: relative;
    top: 3px;
}
.flechaIzquierda {
    background-image: url(../../images/flechaDerSlider2.png);
    width: 50px;
    height: 180px;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    position: relative;
    top: 3px;

}
.img
{
    background-size: cover;
    width: 100%;
    padding-bottom: 56.96%;
    background-repeat: no-repeat;
    margin-left: 30px;
    background-position: center;
    float: left;
}
.imag1 {
    background-image: url(../../images/foto1.png);
    margin-left: 0px;

  
}
.imag2 {
    background-image: url(../../images/foto2.png);
}
.imag3 {
    background-image: url(../../images/foto3.png);

}

.content-wrapper .f-carousel{
    width: 100%;
    max-width:1200px;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
}

#carousell
{
    width: 100%;
    max-width: 1113px;
    height: 186px;
    z-index: 0;
    margin: 0 auto;
    position: absolute;
    top: -1px;
    left: 45px;
    overflow: hidden;
}
#carousell ul
{
    position: absolute;
    top:0;
    width: 100%;
    list-style-type: none;
    padding: 0;
    z-index: 4;
    margin-top: 0;
}
#carousell ul li {
    padding: 0;
    float: left;
    width: 100%;
    margin-left: 30px;
}
#carousell ul li:nth-child(1n),
#carousell ul li:nth-child(4n)
{
    margin-left: 10px
}
#carousell ul li:nth-child(3n),
#carousell ul li:nth-child(6n)
{
    margin-right: 30px
}

.f-carousel:after,.content-wrapper:after
{
    clear: both;
    content: '';
    display: block;
}